:root {
  font: 16px / 1 sans-serif;
  --bright-sky: #80ced2;
  --night-sky: #85577e;
  --sun: #d5562b;
  --sea: #5a9090;
  --sand: #f7f0da;
  --asphalt: #2f3737;
  --lime: #b1d133;
  --tangerine: #f99d1b;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  height: 100vh;
  background-color: var(--sand);
}

ul.flexbox {
  display: flex;
  flex-wrap: wrap;
}

ul.grid {
  display: grid;
  grid-template-columns: repeat(4, 25%);
  grid-template-rows: auto;
  grid-template-areas:
    'header header header sidebar'
    'main   main   main   sidebar'
    '.      footer footer sidebar ';
}

li {
  border: 8px solid black;
}

.A {
  grid-area: header;
}
.B {
  grid-area: main;
  padding: 2rem 1rem;
}
.C {
  grid-area: sidebar;
}
.D {
  grid-area: footer;
}

main {
  display: flex;
}

main div {
  flex: 1;
}

main .important {
  flex: 1;
}

/*
Inline elements by default have their vertical-align set to baseline.
his leaves a little space below all the images, this removes that

https://stackoverflow.com/a/34952703
*/
img {
  vertical-align: bottom;
}
