@import 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css';

:root {
  font: 16px / 1 sans-serif;

  --easy-cell-size: 3rem;
  --easy-board-size: 8;

  --intermediate-cell-size: 2rem;
  --intermediate-board-size: 16;

  --expert-cell-size: 1.5rem;
  --expert-board-size: 24;
}

html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
}

main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

section {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
}

section.difficulty-0 {
  grid-template-columns: repeat(var(--easy-board-size), 1fr);
  grid-template-rows: repeat(var(--easy-board-size), 1fr);
  width: calc(var(--easy-board-size) * var(--easy-cell-size));
  height: calc(var(--easy-board-size) * var(--easy-cell-size));
}

section.difficulty-1 {
  grid-template-columns: repeat(var(--intermediate-board-size), 1fr);
  grid-template-rows: repeat(var(--intermediate-board-size), 1fr);
  width: calc(var(--intermediate-board-size) * var(--intermediate-cell-size));
}

section.difficulty-2 {
  grid-template-columns: repeat(var(--expert-board-size), 1fr);
  grid-template-rows: repeat(var(--expert-board-size), 1fr);
  width: calc(var(--expert-board-size) * var(--expert-cell-size));
}

section button {
  margin: 0;
  padding: 0.5;
  background-color: grey;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-family: 'Courier New', Courier, monospace;
}

section.difficulty-0 button {
  width: var(--easy-cell-size);
  height: var(--easy-cell-size);
}

section.difficulty-1 button {
  width: var(--intermediate-cell-size);
  height: var(--intermediate-cell-size);
}

section.difficulty-2 button {
  width: var(--expert-cell-size);
  height: var(--expert-cell-size);
}

button.cell-number {
  color: white;
}

button.cell-bomb {
  background-color: #c333;
  color: #f00;
}

button.cell-flag {
  background-color: #999;
  color: green;
}

button.cell-free {
  background-color: yellow;
}

.difficulty-0 button.cell-number {
  font-weight: bold;
  font-size: 1.7rem;
}

.difficulty-1 button.cell-number {
  font-weight: bold;
  font-size: 1.3rem;
}

.difficulty-2 button.cell-number {
  font-weight: bold;
  font-size: 1rem;
}

button.cell-1 {
  color: red;
}

button.cell-2 {
  color: pink;
}

button.cell-3 {
  color: orange;
}
