:root {
  font: 16px / 1 sans-serif;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
}

h1 {
  color: blue;
  background-color: yellow;
  border-style: dashed;
  border-width: 5px;
  border-color: black;
  padding: 5px 10px 20px 30px;
  /* padding-top: 5px;
  padding-right: 10px;
  padding-bottom: 20px;
  padding-left: 30px; */
}

p {
  color: red;
}

.first {
  font-weight: bold;
}

.done {
  text-decoration: line-through;
}

#polite {
  font-family: cursive;
}

#rude {
  font-family: monospace;
  text-transform: uppercase;
}
