:root {
  font: 16px / 1 sans-serif;
  --sand: #f7f0da;
  --bright-sky: #80ced2;
  --night-sky: #85577e;
  --sun: #d5562b;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  background-color: var(--sand);
}

h1 {
  color: var(--sun);
  background-color: rgb(70, 72, 202);
  border-style: dashed;
  border-width: 5px;
  border-color: black;
  padding: 5px 10px 20px 30px;
  /* padding-top: 5px;
  padding-right: 10px;
  padding-bottom: 20px;
  padding-left: 30px; */
}

p {
  color: #85577e;
}

p::first-letter {
  font-size: 32px;
}

a::after {
  content: '➡️';
  margin-left: 2px;
  font-size: 8px;
}

p:hover {
  color: green;
}

/* .first {
  font-weight: bold;
} */

li:first-child {
  font-weight: bold;
}

li:nth-child(even) {
  background-color: lightgray;
}

.done {
  text-decoration: line-through;
}

#polite {
  font-family: cursive;
}

#rude {
  font-family: monospace;
  text-transform: uppercase;
}
