/* Set the base font size. This is the size represented by 1rem so other rem sizes will be a multiple of this. */
:root {
  font-size: 14px;
}

/* Remove all default browser margin and padding so we can control that ourselves */
* {
  margin: 0;
  padding: 0;
}

/* Default font family for the page */
body {
  font-family: Georgia, serif;
}

/* Customize the header font, font-size, padding and colors */
header {
  font-family: sans-serif;
  font-size: 3rem;
  padding: 1rem;
  background-color: #f7f0da;
  color: #85577e;
  text-align: center;
}

/* Give all h3 a little space below the text*/
h3 {
  margin-bottom: 0.6rem;
}

/* Give all paragraphs a little space below the text*/
p {
  margin-bottom: 1.5rem;
}

/* Give all paragraphs a little space below the text*/
section {
  padding: 0 2rem;
}

/* Put a little margin above and below the aside, which has the names of our team members */
aside {
  margin: 2rem 0;
}

/* Remove bullets from the list of team members */
aside ul {
  list-style: none;
}

/* Format the list of team member links by removing the underline, a custom color and some padding */
/* 
   link
   visited
   focus
   hover
   active
 */
aside ul li a:link,
aside ul li a:visited {
  color: #900;
  text-decoration: none;
  padding: 3px 0;
}
